# Indexing and Slicing

# Indexing

It is a process of fetching specific element from string or list or tuple using indexes.

* Positive Indexing
* Negative Indexing

# Positive Indexing

It is process of fetching single element from string or list or tuple using positive indexes.

Positive index always starts with 0

# Positive indexing with list

In [1]:
colors = ['red', 'green', 'blue', 'orange', 'yellow', 'black', 'white', 'pink', 'purple']
colors
print(colors)
print(type(colors))  # list is a data type in python

['red', 'green', 'blue', 'orange', 'yellow', 'black', 'white', 'pink', 'purple']
<class 'list'>

In [2]:
# fetch first item from list colors
colors[0]

'red'

In [4]:
#fetch pink from list colors
colors[7] # fetch pink from list colors

'pink'

In [6]:
# fetch orange from list colors
colors[3] # fetch orange from list colors

'orange'

In [7]:
# fetch pink from list colors
colors[7]   # fetch pink from list colors

'pink'

In [8]:
# indexing of elemts in list
# 0      1       2        3        4        5        6        7        8
# red,  green,   blue,   orange,  yellow,   black,   white,   pink,   purple
# -9     -8      -7       -6       -5       -4      -3       -2      -1
# -ve indexing starts with -1
# Negative Indexing
# It is process of fetching single element from string or list or tuple using negative indexes.
colors.index('pink')  # it will give index of pink
colors[-2]  # fetch pink from list colors using negative indexing

'pink'

In [9]:
colors[7] # fetch pink from list colors

'pink'

In [10]:
# list(enumerate(colors))  # it will give index of all elements in list
list(enumerate(colors, start=1))  # it will give index of all elements in list starting from 1

[(1, 'red'),
 (2, 'green'),
 (3, 'blue'),
 (4, 'orange'),
 (5, 'yellow'),
 (6, 'black'),
 (7, 'white'),
 (8, 'pink'),
 (9, 'purple')]

# Slicing

It is the process of fetching multiple elements from a given object(string , tuple,set)

In [11]:
colors

['red',
 'green',
 'blue',
 'orange',
 'yellow',
 'black',
 'white',
 'pink',
 'purple']

In [13]:
# fetch green, blue, orange from list colors
colors[1:4]  # fetch green, blue, orange from list colors

['green', 'blue', 'orange']

In [14]:
#fetch yellow, black, white from list colors
colors[4:7]  # fetch yellow, black, white from list colors

['yellow', 'black', 'white']

In [16]:
# black, white, pink, purple
colors[5:9]  # black, white, pink, purple

['black', 'white', 'pink', 'purple']

In [17]:
colors

['red',
 'green',
 'blue',
 'orange',
 'yellow',
 'black',
 'white',
 'pink',
 'purple']

In [20]:
# fetch everything from blue color till the to end 
# variable_name[start_index:]
colors[2:]

['blue', 'orange', 'yellow', 'black', 'white', 'pink', 'purple']

In [21]:
# fetch everything from yellow color till the to end
# variable_name[start_index:]
colors[4:]

['yellow', 'black', 'white', 'pink', 'purple']

In [22]:
# fetch everything from start till yellow color
# variable_name[:end_index+1]
colors[:5]

['red', 'green', 'blue', 'orange', 'yellow']

In [23]:
# fetch everything from start till white
colors[:7]

['red', 'green', 'blue', 'orange', 'yellow', 'black', 'white']

In [24]:
colors

['red',
 'green',
 'blue',
 'orange',
 'yellow',
 'black',
 'white',
 'pink',
 'purple']

In [25]:
# fetch green , orange ,black
# variable_name[start_index : end_index+1:step]
colors[1:7:2]  # fetch green , orange ,black

['green', 'orange', 'black']

In [26]:
list(enumerate(colors))  # it will give index of all elements in list

[(0, 'red'),
 (1, 'green'),
 (2, 'blue'),
 (3, 'orange'),
 (4, 'yellow'),
 (5, 'black'),
 (6, 'white'),
 (7, 'pink'),
 (8, 'purple')]

In [27]:
# fetch everything from blue color till the end
# variable_name[start_index:]
colors[2:]

['blue', 'orange', 'yellow', 'black', 'white', 'pink', 'purple']

In [29]:
# fetch everything from yellow till end
colors[4:]

['yellow', 'black', 'white', 'pink', 'purple']

In [30]:
# fetch everything from start till yellow color
# variable_name[:end_index+1]
colors[:5]

['red', 'green', 'blue', 'orange', 'yellow']

In [31]:
# fetch everything from start till white
colors[:7]

['red', 'green', 'blue', 'orange', 'yellow', 'black', 'white']

In [32]:
colors

['red',
 'green',
 'blue',
 'orange',
 'yellow',
 'black',
 'white',
 'pink',
 'purple']

In [33]:
list(enumerate(colors))  # it will give index of all elements in list

[(0, 'red'),
 (1, 'green'),
 (2, 'blue'),
 (3, 'orange'),
 (4, 'yellow'),
 (5, 'black'),
 (6, 'white'),
 (7, 'pink'),
 (8, 'purple')]

In [34]:
# fetch green , orange ,black
# variable_name[start_index : end_index+1:step]
colors[1:6:2]  # fetch green , orange ,black

['green', 'orange', 'black']

In [35]:
# fetch red ,orange,white
colors[0:7:3]

['red', 'orange', 'white']

In [36]:
# everything 3rd element
colors[::3]

['red', 'orange', 'white']

In [37]:
# every second element
colors[::2]

['red', 'blue', 'yellow', 'white', 'purple']

In [38]:
colors

['red',
 'green',
 'blue',
 'orange',
 'yellow',
 'black',
 'white',
 'pink',
 'purple']

In [39]:
list(enumerate(colors))  # it will give index of all elements in list

[(0, 'red'),
 (1, 'green'),
 (2, 'blue'),
 (3, 'orange'),
 (4, 'yellow'),
 (5, 'black'),
 (6, 'white'),
 (7, 'pink'),
 (8, 'purple')]

# slicing
* A[index_no]
* A[start_indx : end_ind+1]
* A[start_indx:end_indx+1 :step]
* A[:end_indx+1]
* A[start_ind:]
* A[::step]: to fetch every second element , every third element and so on.
* elements cannot be fetched which has uneven different or random elements

# Indexing and Slicing with tuple

In [46]:
# indexing and slicing with tuples
a = (True,False,3,10,25,40,'Python','sql',3.14)
print(a)
print(type(a))  # tuple is a data type in python

(True, False, 3, 10, 25, 40, 'Python', 'sql', 3.14)
<class 'tuple'>

# Positive indexing

In [48]:
# Positive indexing
a[0] # fetch True from tuple a

True

In [49]:
a[::1] # fetch all elements from tuple a

(True, False, 3, 10, 25, 40, 'Python', 'sql', 3.14)

In [50]:
# fetch sql from tuple a
a[7]

'sql'

In [51]:
#fetch python from tuple a
a[6]

'Python'

In [52]:
# fetch every 3rd element from tuple a
a[::3]

(True, 10, 'Python')

In [53]:
# fetch every 2 nd element from tuple a
a[::2]

(True, 3, 25, 'Python', 3.14)

In [54]:
#fetch python,sql,3.14 from tuple a
a[6:]

('Python', 'sql', 3.14)

In [55]:
a[6:9:1]

('Python', 'sql', 3.14)

In [57]:
# fetch everything till sql
a[:8]

(True, False, 3, 10, 25, 40, 'Python', 'sql')

# String Indexing and slicing

In [58]:
text = "Python is a programming language. Python is easy to learn."
print(text)
print(type(text))

Python is a programming language. Python is easy to learn.
<class 'str'>

In [59]:
text[0]

'P'

In [60]:
len(text)

58

In [62]:
text.count('p')

1

In [63]:
text = 'data science'
print(text)
print(type(text))

data science
<class 'str'>

In [65]:
# fetch d from text
text[0]

'd'

In [66]:
# fetch sc from text
text[5:7]

'sc'

In [67]:
#fetch scien from text
text[5:11]

'scienc'

In [69]:
# fetch science from text
text[5:]

'science'

In [71]:
# fetch aasi from text
text[1:9:2]

'aasi'

# indexing and slicing with sets

In [72]:
A = {10,20,30,40,50,60,70,80,90}
print(A)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [75]:
# fetch 10 from set A
A[0]

TypeError: 'set' object is not subscriptable

# # **Note**
Indexing and slicing is not possible with sets since sets are unordered(no fixed positions).

# # Negative Indexing
* Process of fetching single element using negative indexes.
* Negative index starts with -1
* Negative index assigned from right to left.

In [83]:
A = [1000,2000,3000,4000,5000,6000,7000,8000,9000]
print(A)
print(type(A))  # list is a data type in python

[1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000]
<class 'list'>

In [84]:
A[-1]

9000

In [85]:
A[-1:-8:-1]

[9000, 8000, 7000, 6000, 5000, 4000, 3000]

In [86]:
A[-8]

2000

In [87]:
A[-3:-1]

[7000, 8000]

In [88]:
# fetch 2000 ,3000 using negative slicing
# var_name[start_ind:end_ind+1]
A[-8:-6]

[2000, 3000]

In [89]:
# fetch 4000 , 5000 using negative slicing
A[-6:-4]

[4000, 5000]

In [90]:
# fetch 2000 ,3000,4000,5000 using negative slicing
A[-8:-4]

[2000, 3000, 4000, 5000]

In [91]:
list(enumerate(A))  # it will give index of all elements in list

[(0, 1000),
 (1, 2000),
 (2, 3000),
 (3, 4000),
 (4, 5000),
 (5, 6000),
 (6, 7000),
 (7, 8000),
 (8, 9000)]

# left to right--> positive indexing
# A[start_index:end_ind+1: step(positive)]

# Negativce Indexing: right to left
## A[end_index-1:start_index:-1]

### Negative indexing  and slicing with string

In [1]:
text ='data science'

In [2]:
print(text)
print(type(text))  # str is a data type in python

data science
<class 'str'>

In [4]:
text[0:2] # fetching d and a from text

'da'

In [6]:
text[-10] # fetching a from text using negative indexing

't'

In [7]:
# fetch last e
text[-1] # fetching e from text using negative indexing

'e'

In [9]:
# fetch ata : left to right
text[-11:-8]

'ata'

In [10]:
# fetch ata : right to left (step is -1)
text[-9:-12:-1]

'ata'

In [12]:
text[-9:-12]

''

In [14]:
# fetch cien: right to left
text[-6:-2]

'cien'

In [19]:
# fetch ata : left to right
text[-11:-8]

'ata'

In [18]:
# fetch ata : right to left(step is -1)
text[-8:-12:-1]

' ata'

In [21]:
text[-12:-8]

'data'

In [23]:
# fetch cien: left to right
text[-6:-2]

'cien'

In [26]:
# fetch neic: right to left
text[-3:-7:-1]

'neic'

In [28]:
# fetch scien

text[-7:-2]

'scien'

In [30]:
# fetch neics
text[-3:-8:-1]

'neics'

In [31]:
# reverse the string
text[::-1]

'ecneics atad'

In [32]:
# reverse the list
A = [1000,2000,3000,4000,5000,6000,7000,8000,9000]
A[::-1]

[9000, 8000, 7000, 6000, 5000, 4000, 3000, 2000, 1000]

In [34]:
# reverse a tuple
a = (True,False,3,10,25,40,'Python','sql',3.14)
a[::-1]

(3.14, 'sql', 'Python', 40, 25, 10, 3, False, True)

In [36]:
# reverse a set
C = {10,20,30,40,50,60,70,80,90}
C[::-1]

TypeError: 'set' object is not subscriptable

In [37]:
# fetch data first then reverse
text[0:4][::-1]

'atad'

# dict
It is one of the datastructure used to store values in key-value pair(key:value)
## Properties
* Dict are ordered
* Dict are mutable
* No repeatative keys
* There can be repeatative values

# ways
* {key:value}
* dict()

In [40]:
# create dictionary to store information like name = Boomi , age = 25 , Job= Datascientist , exp=2
info = {'name':'Boomi', 'age':25, 'Job':'Datascientist', 'exp':2}
print(info)
print(type(info))  # dict is a data type in python

{'name': 'Boomi', 'age': 25, 'Job': 'Datascientist', 'exp': 2}
<class 'dict'>

In [41]:
# create dictionary to store given data 1= one , 2= two , days=Mon,Tues,Wed , True = 1
data = {1:'one', 2:'two', 'days':['Mon','Tues','Wed'], True:1}
print(data)

{1: 1, 2: 'two', 'days': ['Mon', 'Tues', 'Wed']}

In [42]:
B ={True:100 ,1 :10 , False :200 , 0:2000}
print(B)

{True: 10, False: 2000}

In [44]:
C ={'name':'John','name':"Mary"}
C

{'name': 'Mary'}

In [45]:
B ={1:100 ,1 :10}
B

{1: 10}

In [46]:
B ={True:100 ,1 :10}
B

{True: 10}

In [48]:
C ={1:100 ,True :10}
C
# when keys are repeated it takes latest value but first key name

{1: 10}

In [49]:
_dic = {1:100 , False: 200, True : 20}
_dic

{1: 20, False: 200}

In [50]:
# dict
A = dict({'maths':100 , 'science':70,'Hindi':50})
A

{'maths': 100, 'science': 70, 'Hindi': 50}

In [52]:
info = {'name':'Boomi','age':25,'job':'datascientist','exp':2}
print(info)
print(type(info))

{'name': 'Boomi', 'age': 25, 'job': 'datascientist', 'exp': 2}
<class 'dict'>

# To fetch elements from dict use keys as index

In [54]:
# extract employee name
info['name']

'Boomi'

In [55]:
# extract exp
info['exp']

2

In [56]:
# get
# fetch age of boomi
info.get('age')

25

In [57]:
# get all the values of dict
info.values()

dict_values(['Boomi', 25, 'datascientist', 2])

In [59]:
# get all the keys
info.keys()

dict_keys(['name', 'age', 'job', 'exp'])

In [60]:
# get key -value pair
info.items()

dict_items([('name', 'Boomi'), ('age', 25), ('job', 'datascientist'), ('exp', 2)])

In [63]:
A = {'name':'Ridaa','Age':40,'companies':['IBM','Oracle','Amazon'],'exp':(5,6,3)}
# fetch Age
A['Age']

40

In [64]:
# fetch all companies
A["companies"]

['IBM', 'Oracle', 'Amazon']

In [65]:
# fetch Oracle
A['companies'][1]  # fetch Oracle

'Oracle'

In [66]:
A['companies'][2]

'Amazon'

In [68]:
A['companies'][0]

'IBM'

In [73]:
# fetch "Oracle","Amazon"
A['companies'][1:3]

['Oracle', 'Amazon']

In [75]:
A['companies'][1:]

['Oracle', 'Amazon']

In [76]:
#fetch exp 6
A['exp'][1]

6

In [79]:
# fetch 5 , 3

A['exp'][::2]

(5, 3)

In [83]:
A['exp'][0:3:2]

(5, 3)

# strings
* Strings are ordered
* Strings are Immutable

In [84]:
A ='python'
# change p as q
# fetch p
A[0]='q'
# changing elemnts in string is not possible so string is immutable.

TypeError: 'str' object does not support item assignment

# List
* ordered
* Mutable

In [86]:
A = [100 ,200,'a',400,500]
# change 'a' as 300
# fetch 'a'
A[2] = 300
A

[100, 200, 300, 400, 500]

In [87]:
B = [1,2,3,"four","five","six","seven"]
# change four as 4
B[3] = 4

In [88]:
B

[1, 2, 3, 4, 'five', 'six', 'seven']

In [89]:
# change five as 5 , six as 6
# fetch five , six first
B[4] = 5
B[5] = 6

In [90]:
B

[1, 2, 3, 4, 5, 6, 'seven']

In [94]:
B = [1,2,3,"four","five","six","seven"]
# change five as 5 , six as 6
B[4:6] = [5,6]
B

[1, 2, 3, 'four', 5, 6, 'seven']

In [96]:
B[3] = 4
B

[1, 2, 3, 4, 5, 6, 'seven']

In [97]:
C = [1,2,3,4,'a','b','c',6]
# change a,b,c as 5
C[4:7] = [5]

In [98]:
C

[1, 2, 3, 4, 5, 6]

# Tuples
* Ordered
* Immutable

In [99]:
A =(1,2,3,4,5)
# change 3 as three
A[2] = 'three'

TypeError: 'tuple' object does not support item assignment

# sets
* Unordered
* Sets are Mutable , but set elements are immutable.

In [101]:
A ={1,2,3,4}
# change 3 as three
A[0]
A[2] = 'three'

TypeError: 'set' object is not subscriptable

# dict
* ordered
* Mutable

In [102]:
A ={'name':'Jeevitha','job':'Data Sccientist','place':'Bangalore'}
A

{'name': 'Jeevitha', 'job': 'Data Sccientist', 'place': 'Bangalore'}

In [103]:
# change name as Zara
A['name'] = 'Zara'

In [104]:
A

{'name': 'Zara', 'job': 'Data Sccientist', 'place': 'Bangalore'}

In [105]:
# update place as Mumbai
A['place'] = 'Mumbai'

In [106]:
A

{'name': 'Zara', 'job': 'Data Sccientist', 'place': 'Mumbai'}

In [107]:
print(A)

{'name': 'Zara', 'job': 'Data Sccientist', 'place': 'Mumbai'}

# Thank you